/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #1d1c1c;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
.top-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

/* Main Content */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.gradient-text {
  font-size: 72px;
  font-weight: 1000;
  background: linear-gradient(
    0deg,
    #0984e3, /* blue */
    #6c5ce7  /* purple */
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 18px;
  color: #fff;
  margin-bottom: 40px;
  line-height: 1.5;
}

.notify-form {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.notify-form input {
  padding: 15px 20px;
  border: none;
  border-radius: 8px 0 0 8px;
  outline: none;
  width: 320px;
  font-size: 14px;
  background: #d1d1d1;
  color: #1d1c1c;
}

.notify-form input::placeholder {
  color: #1d1c1c;
  opacity: 1; /* make sure it's not faded */
}

.notify-form button {
  padding: 15px 25px;
  border: none;
  border-radius: 0 8px 8px 0;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  background: linear-gradient(
    45deg,
    #0984e3, /* blue */
    #6c5ce7  /* purple */
  );
  color: #d1d1d1;
  transition: background 0.2s ease;
}

.notify-form button:hover {
 background: linear-gradient(90deg, #0866c2, #4b3bb2);
}

/* Footer */
footer {
  margin-top: auto;
  display: flex;
  justify-content: flex-start;
  padding: 60px 60px;
}

.social-links a {
  color: white;         /* icons visible on dark background */
  margin-right: 20px;
  font-size: 24px;
  transition: color 0.2s ease;
}

.social-links a:hover {
  color: #ccc;          /* subtle hover effect */
}

.logo img {
  width: 100px;   /* Adjust as needed */
  height: auto;  /* Keeps proportions */
  display: block;
}